.breeds-dropdown {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #1b3638;
  background-color: #ffffff;
  color: #1b3638;
  font-size: 16px;
}
.breeds-dropdown:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #1b3638;
  box-shadow: 0 0 10px #1b3638;
}
