.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 250px;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  background-color: #27484b;
  color: white;
  box-shadow: 0 2px 4px rgb(9, 0, 0);
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dog-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dog-name {
  margin: 0 auto;
}
.dog-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #315458;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.368);
}
.dog-info {
  max-width: 50%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-image {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.505);
}

.dog-name {
  font-size: 1.5rem;
  margin-top: 10px;
}

.dog-info {
  margin-bottom: 5px;
  min-width: 115px;
}
.dog-details p {
  width: 150px;
}
.dog-details h2 {
  width: 150px;
}
.selected {
  background-color: #047f64;
}
.breed-box {
  min-width: 200px;
}
.dog-fav {
  border: 2px soliod red;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 280px;
}
.popup-added {
  background-color: red;
  position: absolute;
  border-radius: 15px;
  transition: opacity 1s ease-out;
  opacity: 0;
  top: 180px;
  padding: 5px;
}
.popup-added.active {
  opacity: 1;
}

.heart {
  color: red;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.heart:hover {
  font-size: 30px;
}

.icon {
  font-size: 24px;
  margin: 0 5px;
}

.age-icon {
  color: rgb(0, 213, 255);
}

.location-icon {
  color: rgb(245, 197, 23);
}

.breed-icon {
  color: rgb(0, 203, 0);
}
