body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.favorites-container {
  margin-top: 90px;
  text-align: center;
  flex: 1;
  position: relative;
  background-image: linear-gradient(#ff000000, #9bccd4);
  box-shadow: inset 0 -5px 5px -5px black;
  padding-bottom: 20px;
}
.match-container {
  position: relative;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.match-btn {
  height: 80px;
  width: 350px;

  font-size: 24px;
  margin-bottom: 10px;
  transition: all 0.35s;
}
.match-btn:hover {
  cursor: pointer;
  color: white;
  width: 450px;
  background: #047f64;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.foot {
  position: relative;
  flex-shrink: 0;
  bottom: 0;
  width: 100vw;
}
