.footer {
  margin: 0 auto;
  background-color: #a7d8df;
  padding: 30px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social-media ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.footer-bottom {
  text-align: center;
}

@media (max-width: 500px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .social-media ul {
    margin: 5px 0;
    justify-content: center;
  }
  .contact-info {
    margin: 5px 0;
  }
  .contact-info h4 {
    margin-bottom: 5px 0;
  }
}
