.footer {
  margin: 0 auto;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social-media ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
