.login-bg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 900px) {
  .login-bg {
    height: 100vh;
    wisth: auto;
  }
}

.login-container {
  /* display: ; */
}

form {
  display: flex;
  flex-direction: column;
}

.login-container {
  position: relative;
}
.form-content {
  position: absolute;

  bottom: 60%;
  right: 50vw;
  background-color: #cccccc;
}
.btn {
  background-color: blue;
  color: white;
  padding: 16px;
  margin: 5px;
}
