.login-bg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 900px) {
  .login-bg {
    height: 100vh;
    wisth: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 15px;
  height: 2.2em;
  padding: 0 10px;
}

.login-container {
  position: relative;
}
.form-content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b3638;
  padding: 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 8px 6px -6px #33686b;
}
.login-btn {
  background-color: #dec9de;
  color: white;
  padding: 16px;
  margin: 5px;
  border-radius: 25px;
  color: black;
}
.login-btn:hover {
  background-color: #e9b0da;
}
