/* .login-bg {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: fixed;
} */
.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/dogbones.jpg');
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
  background-position: center;
}
@media (max-width: 700px) {
  .login-bg {
    height: 100vh;
    width: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  border-radius: 15px;
  height: 2.2em;
  padding: 0 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b3638;
  padding: 20px;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 8px 6px -6px #33686b;
  max-width: 80%; /* Adjust the maximum width as needed */
  width: 300px; /* Set a fixed width or use max-width for responsiveness */
}

.login-btn {
  background-color: #dec9de;
  color: white;
  padding: 16px;
  margin: 5px;
  border-radius: 25px;
  color: black;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #e9b0da;
}
