* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
i {
  padding: 0 10px 0 20px;
}

.nav-links {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0;
  background-color: rgb(255, 255, 255);
  min-height: 50px;
  z-index: 999;
  transition: 0.5s;
  border-bottom: #1b3638 2px solid;
  box-shadow: 0 8px 6px -6px #1b3638;
}
.logo-dog {
  font-size: 1.5em;
}
.logo-text {
  font-size: 2.2em;
}
.site-title {
  font-size: 1.2rem;
  /* padding: 1rem; */
  font-weight: 800;
  color: #000000;
}
.site-title a:hover {
  color: #0e5459;
}
.nav-locations {
  display: flex;
  flex-direction: row;
  /* padding: 0 2rem; */
  list-style-type: none;
  justify-content: center;
}
.nav-locations li {
  transition: 0.3s;
}

.nav-locations li a {
  padding: 20px 25px;
  list-style: none;
  display: block;

  transition: 0.3s;
}

.nav-locations li a:hover {
  box-shadow: 0 10px 15px #0f1e1f;
  background-color: #1b3638;
  padding: 20px 25px 20px 25px;
}

a {
  font-weight: 500;
  color: #1b3638c7;
  text-decoration: inherit;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover {
  color: #ffffff;
}
