body,
container html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.container {
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search-head {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.434);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(5px);
  width: 50vw;
}
.search-head p {
  font-size: 1.2rem;
}
/* .head-text {
} */
.subtext {
  padding-bottom: 15px;
  margin: 10px;
}
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 35px 0;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/twodogs.jpg');
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
  background-position: center;
}
.asc-desc-btn {
  border-radius: 0;
  width: 80px;
  height: 20px;
  background-color: transparent;
  border: 1px solid green;
  color: white;
}
.asc-desc-btn svg {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
.search-btn {
  height: 50px;
  width: 350px;
  font-size: 24px;
  margin-bottom: 10px;
  transition: all 0.35s;
}
.search-btn:hover {
  cursor: pointer;
  color: white;
  width: 400px;
  background: #047f64;
}

.link-button:hover {
  color: white;
  /* height: 80px; */
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 800px) {
  .filters {
    flex-direction: column;
  }
  .search-head {
    width: 80vw;
  }
}
.next25 {
  cursor: pointer;
  width: 100px;
  background-image: linear-gradient(to bottom right, #00ff00, #008000);
  margin: 20px 0;
  padding: 5px;
  border: none;
}
.next25:hover {
  background-image: linear-gradient(to bottom right, #008000, #00ff00);
}
.btn {
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  transition: 200ms;
}
.btn:hover {
  box-shadow: 0 0 10px white;
}
.pag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  color: blue;
}
.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
}
/* .search {
  height: 3rem;
  width: 50%;
  border-radius: 30px;
  padding: 20px;
} */
/* .search-bg {
  width: 100vw;
  object-fit: contain;
  z-index: -1;
  top: 0;
}
@media (max-width: 1200px) {
  .search-bg {
    width: 100%;
    height: 100%;
    object-position: center;
  }
} */

.search-results-container {
  position: relative;
  margin: 0 auto 50px auto;
  color: #e7e5df;
  background-color: #1b3638;
  padding: 20px;
  width: 80%;
  max-width: 1500px;
  border-radius: 15px;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin-top: 50px;
}
.content {
  flex-grow: 1;
  position: relative;
}
.foot {
  position: relative;
  flex-shrink: 0;
  bottom: 0;
  width: 100vw;
}
